body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
}

.header__imgcont{
    width: 110px;
}

.header__img{
    width: 100%;
}

.nav__ul{
    display: flex;
    flex-direction: row;
}

.nav__li{
    padding: 40px;
    font-size: 1.1rem;
    list-style-type: none;
}

.nav__link{
    text-decoration: none;
    color: orangered;
}
